In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm

In [2]:
data = pd.read_csv('del-data.csv')

In [3]:
data.head()

,timestamp-data,timestamp-time,epoch,mote-id,temperature,humidity,light,voltage,x-cord,y-cord
0,2004-03-31,03:38:15.757551,2,1.0,122.1530,-3.91901,11.04,2.03397,21.5,23
1,2004-02-28,00:59:16.02785,3,1.0,19.9884,37.09330,45.08,2.69964,21.5,23
2,2004-02-28,01:03:16.33393,11,1.0,19.3024,38.46290,45.08,2.68742,21.5,23
3,2004-02-28,01:06:16.013453,17,1.0,19.1652,38.80390,45.08,2.68742,21.5,23
4,2004-02-28,01:06:46.778088,18,1.0,19.1750,38.83790,45.08,2.69964,21.5,23

In [4]:
data.drop(['timestamp-data', 'timestamp-time', 'epoch'], axis=1, inplace=True)

In [5]:
data.head()

   mote-id  temperature  humidity  light  voltage  x-cord  y-cord
0      1.0     122.1530  -3.91901  11.04  2.03397    21.5      23
1      1.0      19.9884  37.09330  45.08  2.69964    21.5      23
2      1.0      19.3024  38.46290  45.08  2.68742    21.5      23
3      1.0      19.1652  38.80390  45.08  2.68742    21.5      23
4      1.0      19.1750  38.83790  45.08  2.69964    21.5      23

In [6]:
len(data)

2210084

In [7]:
def get_avg_attr(a, attr_name):
    attr_vals = data[attr_name].values.tolist()
    count = 0
    tot = 0
    with tqdm(total=len(attr_vals)) as pbar:
        for attr in attr_vals:
            indx = attr_vals.index(attr)
            if mote[indx] == a:
                count = count + 1
                tot = attr + tot
            pbar.update(1)
    if count == 0:
        return 0
    else:
        if tot/count == float('nan'):
            return 0
        else:
            return tot/count
        
#     return tot/count

In [8]:
mote = data['mote-id'].values.tolist()

In [9]:
mote_set = set(mote)

In [10]:
len(mote), len(mote_set)

(2210084, 52)

In [12]:
get_all_temp_avg = dict()
for m in mote_set:
    get_all_temp_avg[m] = get_avg_attr(m, 'temperature')

100%|██████████| 2210084/2210084 [08:12<00:00, 4491.71it/s]
100%|██████████| 2210084/2210084 [08:10<00:00, 4506.08it/s]
100%|██████████| 2210084/2210084 [08:10<00:00, 4506.88it/s]
100%|██████████| 2210084/2210084 [08:13<00:00, 4481.68it/s]
100%|██████████| 2210084/2210084 [08:12<00:00, 4486.75it/s]
100%|██████████| 2210084/2210084 [08:11<00:00, 4493.81it/s]
100%|██████████| 2210084/2210084 [08:12<00:00, 4491.52it/s]
100%|██████████| 2210084/2210084 [08:11<00:00, 4493.61it/s]
100%|██████████| 2210084/2210084 [08:10<00:00, 4508.66it/s]
100%|██████████| 2210084/2210084 [08:12<00:00, 4487.03it/s]
100%|██████████| 2210084/2210084 [08:16<00:00, 4454.15it/s]
100%|██████████| 2210084/2210084 [08:17<00:00, 4445.69it/s]
100%|██████████| 2210084/2210084 [08:17<00:00, 4446.63it/s]
100%|██████████| 2210084/2210084 [08:16<00:00, 4447.28it/s]
100%|██████████| 2210084/2210084 [08:16<00:00, 4452.43it/s]
100%|██████████| 2210084/2210084 [08:17<00:00, 4442.28it/s]
100%|██████████| 2210084/2210084 [08:20<00:00, 4417.10it/s]
100%|██████████| 2210084/2210084 [08:21<00:00, 4403.46it/s]
100%|██████████| 2210084/2210084 [08:19<00:00, 4428.82it/s]
100%|██████████| 2210084/2210084 [08:19<00:00, 4424.00it/s]
100%|██████████| 2210084/2210084 [08:25<00:00, 4370.20it/s]
100%|██████████| 2210084/2210084 [08:21<00:00, 4404.11it/s]
100%|██████████| 2210084/2210084 [08:22<00:00, 4395.36it/s]
100%|██████████| 2210084/2210084 [08:24<00:00, 4377.39it/s]
100%|██████████| 2210084/2210084 [08:24<00:00, 4382.33it/s]
100%|██████████| 2210084/2210084 [08:26<00:00, 4364.23it/s]
100%|██████████| 2210084/2210084 [08:23<00:00, 4392.20it/s]
100%|██████████| 2210084/2210084 [08:24<00:00, 4380.59it/s]
100%|██████████| 2210084/2210084 [08:24<00:00, 4378.07it/s]
100%|██████████| 2210084/2210084 [08:21<00:00, 4411.14it/s]
100%|██████████| 2210084/2210084 [08:18<00:00, 4437.49it/s]
100%|██████████| 2210084/2210084 [08:24<00:00, 4383.27it/s]
100%|██████████| 2210084/2210084 [08:25<00:00, 4369.14it/s]
100%|██████████| 2210084/2210084 [08:26<00:00, 4363.62it/s]
100%|██████████| 2210084/2210084 [08:26<00:00, 4361.77it/s]
100%|██████████| 2210084/2210084 [08:26<00:00, 4363.64it/s]
100%|██████████| 2210084/2210084 [08:25<00:00, 4372.61it/s]
100%|██████████| 2210084/2210084 [08:27<00:00, 4351.45it/s]
100%|██████████| 2210084/2210084 [08:20<00:00, 4416.63it/s]
100%|██████████| 2210084/2210084 [08:24<00:00, 4384.95it/s]
100%|██████████| 2210084/2210084 [08:25<00:00, 4371.11it/s]
100%|██████████| 2210084/2210084 [08:28<00:00, 4344.15it/s]
100%|██████████| 2210084/2210084 [08:28<00:00, 4343.27it/s]
100%|██████████| 2210084/2210084 [08:28<00:00, 4345.85it/s]
100%|██████████| 2210084/2210084 [08:29<00:00, 4335.22it/s]
100%|██████████| 2210084/2210084 [08:30<00:00, 4331.96it/s]
100%|██████████| 2210084/2210084 [08:28<00:00, 4342.56it/s]
100%|██████████| 2210084/2210084 [08:29<00:00, 4333.62it/s]
100%|██████████| 2210084/2210084 [08:29<00:00, 4337.52it/s]
100%|██████████| 2210084/2210084 [08:30<00:00, 4327.63it/s]
100%|██████████| 2210084/2210084 [08:28<00:00, 4343.03it/s]
100%|██████████| 2210084/2210084 [08:29<00:00, 4339.72it/s]

In [13]:
import pickle
def save_pickle(filename, var):
    with open(filename, "wb") as fp:
        pickle.dump(var, fp)

In [14]:
save_pickle('del_avg_temp', get_all_temp_avg)

In [15]:
get_all_temp_avg

{1.0: 39.876030401794,
 2.0: 44.29845956639776,
 3.0: 41.396476601816815,
 4.0: 37.266016545848515,
 6.0: 19.83578910149781,
 7.0: 64.20005456284734,
 8.0: 17.17860672000035,
 9.0: 39.00020012964529,
 10.0: 43.733252922173065,
 11.0: 17.69163536876404,
 12.0: 20.61642636005766,
 13.0: 71.03082789992436,
 14.0: 57.372815304709675,
 15.0: 0,
 16.0: 27.90237673434853,
 17.0: 30.60102227171513,
 18.0: 33.874678644254146,
 19.0: 41.71284346648592,
 20.0: 30.847387381703385,
 21.0: 43.57361581581573,
 22.0: 86.30532088827255,
 23.0: 73.96979580419583,
 24.0: 88.63872983151624,
 25.0: 76.22914208144812,
 26.0: 94.33813306370081,
 27.0: 62.81007989556141,
 29.0: 82.41920937499994,
 30.0: 76.17528472222217,
 31.0: 90.0121020920501,
 32.0: 90.28411312217196,
 33.0: 97.52552413793097,
 34.0: 77.91275945945954,
 35.0: 75.88172105263163,
 36.0: 77.06229183673472,
 37.0: 79.32894736842104,
 38.0: 80.3850062827225,
 39.0: 82.76230000000001,
 40.0: 72.2933696969697,
 41.0: 85.90847692307692,
 42.0: 76.19512499999999,
 43.0: 106.19733333333335,
 44.0: 71.99746363636365,
 45.0: 0,
 46.0: 79.65648421052632,
 47.0: 96.49204999999999,
 48.0: 87.78288,
 49.0: 6.4922,
 50.0: 14.135083895131057,
 51.0: 85.6708,
 52.0: 74.12741111111112,
 53.0: 14.843670370370388,
 54.0: 20.5244918032787}